<div class="grid">
    <div class="col-7">
        <div class="card">
            <div class="text-center p-1 border-round-sm bg-primary font-bold ">Lista Productos</div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum eligendi ex quis sit quasi quisquam voluptatum dignissimos eveniet doloribus esse animi nulla officia minima iusto, molestias veritatis et reprehenderit eos.
            Minus optio quibusdam numquam. Ducimus placeat, unde quasi dolores id labore culpa, similique inventore dolorem atque earum velit qui fugiat laboriosam molestiae! Ipsa dolorem at qui, odio ut assumenda placeat?
            Tempore sed voluptates corrupti laborum ipsum impedit! Dolore commodi repellat ea odio rem ullam minus aperiam explicabo voluptas, sapiente quasi quisquam. Ipsa numquam quod officiis temporibus hic pariatur dolorem laudantium!
            Perspiciatis, ipsum eum consequuntur error consequatur exercitationem nihil cum cumque? Quod corrupti, possimus repellat atque odio, suscipit quas nam qui id laudantium iusto totam optio consectetur. Libero, exercitationem quis. Earum!
            Inventore voluptatum doloribus soluta molestiae ut velit fugit tenetur, cupiditate, accusantium minus doloremque nobis quos et consequatur. Saepe veniam ex, a id vitae dolor, corporis rem illum omnis, mollitia laudantium!
            Sapiente quidem praesentium dolor molestiae beatae quisquam obcaecati sed, vero temporibus fugiat nobis, cumque recusandae sequi facilis iure eos eveniet. Quasi pariatur inventore aut provident soluta eligendi id ea officiis.
        </div>
    </div>
    <div class="col-5">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <div class="text-center p-1 border-round-sm bg-primary font-bold ">Carrito</div>
                    
                    

                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="text-center p-1 border-round-sm bg-primary font-bold ">Cliente</div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="text-center p-1 border-round-sm bg-primary font-bold ">Pedido</div>
                </div>
            </div>
        </div>
    </div>
</div>